
/* Header */
header{
    background-color: #2c3e50;
}

.ms-menu-title {
    /* test */
    height: 80px;
    background-color: antiquewhite;
}

.ms-menu-burger,
.ms-menu {
    /* test */
    height: 80px;
    background-color: aquamarine;
}

/* Main */

/* Jumbotron Section*/
.jumbo {
    background-color: #1abc9c;
}


.ms-jumbo-img-container {
    width: 30%;
    /* test */
    height: 200px;
    background-color: blue;
}

.ms-jumbo-text-container {
    width: 50%;
    /* test */
    background-color: rgb(40, 40, 180);
}

/* Portfolio */
.ms-portfolio-img-container {
    width: 100%;
    /* test */
    height: 250px;
    background-color: yellow;
}

/* About */
.about {
    background-color: #1abc9c;
}

/* Contact */
.contact {
    /* test */
    background-color: rebeccapurple;
    height: 500px;
}

/* Footer */
.ms-upper-footer{
    background-color: #3a546d;
}

.ms-bottom-footer {
    background-color: #2c3e50;
}